.translate\.syntropica-presents::before { content: "负熵工作室出品"; }
.translate\.dashboard-title::before { content: "控制面板"; }
.translate\.page-title::before { content: "绝技夺魁"; }
.translate\.warning-title::before { content: "警告"; }
.translate\.photosensitive-warning::before { content: "该游戏可能导致光敏反应。请确保游戏时处于光线充足的环境中。"; }
.translate\.start-game::before { content: "开始游戏"; }
.translate\.skill-bound-title::before { content: "绝技夺魁"; }
.translate\.continue-prompt::before { content: ">   按任意键继续   <"; }
.translate\.settings::before { content: "设置"; }
.translate\.map::before { content: "地图"; }
.translate\.fight::before { content: "战斗!"; }
.translate\.manual::before { content: "手册"; }
.translate\.select-battlefield::before { content: "选择战场"; }
.translate\.battle-mode::before { content: "战斗模式"; }
.translate\.team-mode::before { content: "队伍模式"; }
.translate\.start-fight::before { content: "开始战斗"; }
.translate\.new-room::before { content: "新建房间"; }
.translate\.join-room::before { content: "加入房间"; }
.translate\.waiting-for-players::before { content: "等待玩家..."; }
.translate\.choose-team::before { content: "请选择队伍"; }
.translate\.start-battle::before { content: "开始"; }
.translate\.create-room::before { content: "创建房间"; }
.translate\.sign-up-title::before { content: "注册"; }
.translate\.sign-up-button::before { content: "注册"; }
.translate\.connection-state::before { content: "正在连接..."; }
.translate\.loading-text::before { content: "加载中..."; }
