.translate\.syntropica-presents::before { content: "負熵工作室出品"; }
.translate\.dashboard-title::before { content: "控制面板"; }
.translate\.page-title::before { content: "絕技奪魁"; }
.translate\.warning-title::before { content: "警告"; }
.translate\.photosensitive-warning::before { content: "本遊戲可能導致光敏反應。請確保遊戲時處於光線充足的環境中。"; }
.translate\.start-game::before { content: "開始遊戲"; }
.translate\.skill-bound-title::before { content: "絕技奪魁"; }
.translate\.continue-prompt::before { content: ">   按任意鍵繼續   <"; }
.translate\.settings::before { content: "設定"; }
.translate\.map::before { content: "地圖"; }
.translate\.fight::before { content: "戰鬥!"; }
.translate\.manual::before { content: "手冊"; }
.translate\.select-battlefield::before { content: "選擇戰場"; }
.translate\.battle-mode::before { content: "戰鬥模式"; }
.translate\.team-mode::before { content: "隊伍模式"; }
.translate\.start-fight::before { content: "開始戰鬥"; }
.translate\.new-room::before { content: "建立房間"; }
.translate\.join-room::before { content: "加入房間"; }
.translate\.waiting-for-players::before { content: "等待玩家..."; }
.translate\.choose-team::before { content: "請選擇隊伍"; }
.translate\.start-battle::before { content: "開始"; }
.translate\.create-room::before { content: "建立房間"; }
.translate\.sign-up-title::before { content: "註冊"; }
.translate\.sign-up-button::before { content: "註冊"; }
.translate\.connection-state::before { content: "正在連接..."; }
.translate\.loading-text::before { content: "載入中..."; }
